

body {
    background-color: #F8F8F8;
}

.MainContainer {
    max-width:1170px;
    align-items: center;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:1170px;
    margin: 0 auto;
    align-items: center;

}

